$primary: #f35b04;
$secondary: #f18701;
$tertiary: #546A7B;
$quaternary: #62929E;
$background-color: #303030;
$tuna: #373a47;
$text-color: #fff;
$solid-white: #fff;
$onyx: #393D3F;
$soda: #F55536;


//colors for later 
$magic-mint: #A5F8D3