.charts {
    color: $text-color;
    width: 100%;
}
    .card-list {
        display: flex;
        width: 100%;
    }
    .chart-card {
        background-color: $tuna;
        display: inline-block;
        color:  $text-color;

        .card-title {
            padding: 0;
            margin: 0;
        }
        
    }

    