.custom-control-input:checked~.custom-control-label::before {
    border-color: $text-color;
    background-color: $primary;
}

.custom-switch .custom-control-label::after {
    background-color: $primary;
}

.custom-switch .custom-control-label::before {
    background-color: $tuna;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.1rem $secondary;
}
